@charset "UTF-8";

img{
    max-width: 100%;
    height: auto;
}
h1{
    font-family: ff-ernestine-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #ffffff;
   
}
h2{
    font-family: ff-ernestine-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
    color: #052517;
    padding: 10px;
    text-align: center;
  
}
h3{ 
    font-family: ff-ernestine-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #ffffff;

}
h4{
    font-family: ff-ernestine-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #052517;
}
h5{
    font-family: ff-ernestine-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: #052517;
}
p{
    font-family: ff-ernestine-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    color: #052517;

}
nav{
    padding: 5px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subhead{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn-primary{
    background-color: #052517;
    font-family: ff-ernestine-pro, serif;
    font: #ffffff;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    padding: 10px;
    color: #ffffff;
}
a:link { 
    text-decoration: none; 
    color: #052517;

    }
    a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color:#1d583f;
    }
    a:hover, a:focus, a:active { 
    text-decoration: underline; 
    color: #555753;
    }


